

footer {
  background-color:#0d1b4c !important;
margin-top: -2rem;
  padding-top: 4rem;
  /* direction: rtl; */
}

footer p,
footer a,
footer h6 {
  color: #fff;
}

footer h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

footer a {
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #a1a1ff;
}


