@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import 'primeflex/primeflex.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
body,html{
 background-image: url('/assets/frame1.png');
   background-repeat: unset;
   font-family: 'IBM Plex Sans Arabic', sans-serif;
   overflow-x: hidden;
}

lib-header {
  margin-bottom: 0;
}

lib-slider {
  margin-top: 0 !important;
}
